html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* Global Styles */

* {
    transition: all 1s ease;
}

html {
    font-size: 62.5%
}

body {
    color: #FCFCFC;
    font-family: 'Cormorant Garamond', serif;
    font-size: 2.2rem;
    line-height: 2.9rem;
}

img {
    max-width: 100%;
}

ul {
    padding: 0;
    margin: 0;  
}

.wrapper {
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
}

.button {
    background-color: #152D20;
    color: #FCFCFC;
    border: solid 1px #FCFCFC;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 20px;
    display: inline-block;
}

.button:hover,
.button:focus {
    background-color: #FCFCFC;
    color: #152D20;
    border: solid 1px #152D20;
}

.copy {
    float: left;
}

h1,
.feature h2,
.friends h2,
h3 {
    font-family: 'Fredericka the Great', serif;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
}

h1 {
    font-size: 12rem;
    line-height: 11.7rem;
    text-align: right;
    max-width: 60%;
    float: right;
}

.feature h3 {
    font-size: 5.1rem;
}

.friends h2 {
    max-width: 500px;
    font-size: 4.9rem;
    line-height: 5.2rem;
    display: inline-block;
}

h3 {
    font-size: 3.5rem;
    line-height: 3.9rem;
}

a {
    color: #FCFCFC;
    text-decoration: none;
}

a:hover,
a:focus,
.links li a:hover,
.links li a:focus {
    color: #C3D3CB;
}

nav a,
footer h2 {
    font-family: 'Cormorant Garamond', serif;
    color: #FCFCFC;
    text-transform: uppercase;
    margin: 0;
    padding: 5px 10px;
}

.links p {
   text-transform: uppercase; 
}


nav ul,
.friends ul,
.socialMedia ul,
.links ul,
footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
    margin: 10px 0;
}

section {
    padding: 100px 0;
}

.feature img,
.friends .friendPics img {
    overflow: hidden;
    transition: transform .5s ease;
}

.feature img:hover,
.feature img:focus
.friends .friendPics img:hover,
.friends .friendPics img:focus {
    transform: scale(1.1);
}

/* Header Styling */

header {
    background: url(animal-land-assets/image-1.jpg) no-repeat center fixed;
    background-size: cover;
    height: 90vh;
    padding: 30px 0;
    position: relative;
}

nav li {
    float: left;
}

header i {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 2rem;
    visibility: hidden;
}

header .socialMedia i {
    position: static;
    visibility: visible;
    padding: 10px 0;
}

header .socialMedia {
    position: absolute;
    right: 25px;
    bottom: 25px;
    text-align: center;
}


/* Main Feature Styling */

.feature {
    background-color: #152D20;
}

.feature img {
    width: 35%;
    margin-right: 30px;
    float: left;
}

.feature .copy {
    color: #FCFCFC;
    width: calc(65% - 30px);
}

.feature .button,
.feature .button a {
    background-color: #FCFCFC;
    color: #152D20;
    border: 1px solid #FCFCFC;
}

.feature .button:hover, 
.feature .button:focus, 
.feature .button:hover a,
.feature .button:focus a {
    color: #FCFCFC;
    background-color: #152D20;
    border: 1px solid #FCFCFC;
}

.feature .button a,
.feature .button:hover a,
.feature .button:focus a {
    border: none;
}


/* Friends Section Styling */

.friends {
    background-color: #C3D3CB;
    text-align: center;
}

.friends h2 {
    color: #152D20;
}

.friends ul {
    list-style: none;
}

.friends .friendPics li,
.links .customLink li {
    width: calc(100%/3 - 14px);
    margin-right: 20px;
    float: left;
}

.friendPics li:last-child,
.customLink li:last-child {
    margin-right: 0px;
} 

.friends .friendPics img {
    display: block;
}

/* Links Section Styling */

.links {
    background-color: #152D20;
    padding: 50px 0;
}

.customLink li {
    text-align: center;
    margin-bottom: 0;
    font-size: 2.5rem;
    line-height: 3rem;
    display: inline-block;
}

.customLink i {
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
    font-size: 5rem;
}

/* .customLink p {
    padding: 0 50px;
} */

.customLink a {
    color: #FCFCFC;
}

/* Blog Section Styling */

section.posts {
    padding: 0;
}

article {
    width: 100%;
}

.posts article .copy {
    color: #152D20;
    width: 50%;
    padding: 5% 5% 0 10%;
}

.posts article img {
    width: 50%;
    float: right;
}

.posts article:nth-of-type(2n) .copy {
    float: right;
    padding: 5% 10% 0 5%;
}

.posts article:nth-of-type(2n) img {
    float: left;
}

.posts .button:hover,
.posts .button:focus, 
.posts .button:hover a,
.posts .button:focus a {
    color: #152D20;
    background-color: #FCFCFC;
    border: 1px solid #152D20;
}

.posts .button a,
.posts .button:hover a,
.posts .button:focus a {
    border: none;
}

/* Footer Styling */

footer {
    background-color: #152D20;
}

footer .wrapper {
    padding: 100px 0;
}

footer .footerMenu,
footer .stayUpdated,
footer .contact {
    float: left;
}

footer .footerMenu {
    color: #FCFCFC;
    text-align: left;
    text-transform: uppercase;
    width: 20%;
}

footer .stayUpdated {
    text-align: center;
    width: 55%;
}

footer .stayUpdated input,
footer .stayUpdated button {
    height: 45px;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    display: block;
    float: left;
}

footer .stayUpdated input {
    width: 70%;
}

footer .stayUpdated button {
    width: 30%;
    background-color: #000000;
    color: #FCFCFC;
    font-family: 'Cormorant Garamond', serif;
    text-transform: uppercase;
}

footer .stayUpdated button:hover,
footer .stayUpdated button:focus {
    background-color: #FCFCFC;
    color: #000000;
    border: 1px solid #000000;
}

footer .contact {
    text-align: right;
    width: 25%;
}

footer p {
    margin: 0;
}

footer .copyright {
    background-color: #000000;
    text-align: center;
    padding: 10px;
}

/* Media Queries */

@media (max-width: 1085px) {
    body {
        font-size: 2rem;
        line-height: 2.7rem;
    }

    h1 {
        font-size: 10rem;
        line-height: 9.7rem;
    }

    h3 {
        font-size: 3rem;
        line-height: 3.4rem;
    }
}

@media (max-width: 990px) {
    body {
        font-size: 1.7rem;
        line-height: 2rem;
    }

    h1 {
        font-size: 9rem;
        line-height: 8.7rem;
    }

    h3 {
        font-size: 2.5rem;
        line-height: 2.9rem;
    }

    section,
    footer .wrapper {
        padding: 75px 0;
    }

    .feature h3 {
        font-size: 4.5rem;
    }

    .friends h2 {
        max-width: 400px;
        font-size: 4rem;
        line-height: 4.5rem;
    }

    .posts article .copy,
    .posts article:nth-of-type(2n) .copy {
        padding-top: 6%;
    }
}

@media (max-width: 895px) {
    h1 {
        font-size: 7rem;
        line-height: 6.7rem;
    }

    .posts article .copy,
    .posts article:nth-of-type(2n) .copy {
        padding-top: 5%;
    }

    footer .contact {
        clear: left
    }

    footer .footerMenu {
        width: 35%;
    }

    footer .stayUpdated {
        width: 65%;
        text-align: right;
    }

    footer .contact {
        text-align: center;
        width: 100%;
        padding: 50px 0 0 0;
    }

    footer .stayUpdated input,
    footer .stayUpdated button {
        height: 30px;
        padding: 5px 10px;
    }
}

@media (max-width: 840px) {
    .feature img {
    width: 25%;
    }

    .feature .copy {
        width: calc(75% - 30px);
    }

    body {
        font-size: 1.5rem;
        line-height: 1.8rem;
    }

    h3 {
        font-size: 2rem;
        line-height: 2.5rem;
    }
}

@media (max-width: 720px) {
    h1 {
        font-size: 4.2rem;
        line-height: 4.8rem;
        float: left;
        text-align: left;
    }

    body {
        font-size: 1.3rem;
        line-height: 1.5rem;
    }

    .feature h3 {
        font-size: 4rem;
    }

    h3 {
        font-size: 1.7rem;
        line-height: 2rem;
    }

    section,
    footer .wrapper {
        padding: 50px 0;
    }

    header {
        position: relative;
        background-position: 30%;
        background-attachment: unset;
    }

    header i {
        visibility: visible;
    }


    header .socialMedia i {
        visibility: hidden;
    }

    nav ul {
        height: 0;
        overflow: hidden;
    }
}

@media (max-width: 620px) {

    .wrapper {
        width: 80%;
    }

    section {
        padding: 50px 0;
    }

    body {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    h1 {
        font-size: 3.5rem;
        line-height: 4rem;
    }

    .feature h3 {
        font-size: 3rem;
    }

    .friends h2 {
        font-size: 2.7rem;
        line-height: 3.2rem;
        text-align: center;
        max-width: 60%;
    }

    h3 {
        width: 70%;
        font-size: 2.5rem;
        line-height: 3rem;
        margin-bottom: 0;
        display: inline-block;
    }

    .copy {
        float: none;
        width: 100%;
        text-align: center;
    }

    .feature img {
        width: 100%;
        margin-right: 0;
        float: none;
    }

    .feature .copy {
        width: 100%;
        padding: 50px 0 0 0;
    }   

    .friends .friendPics li {
        width: calc(50% - 5px);
        margin-right: 10px;
    }

    .friendPics li:nth-of-type(2) {
        margin-right: 0;
    }

    .friendPics li:last-child {
        display: none;
    }

    .links .customLink li {
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
        float: none;
    }

    .links .customLink li:last-child {
        margin-bottom: 0;
    }

    .customLink p {
        max-width: 60%;
        font-size: 2.5rem;
        line-height: 3rem;
        margin: 5% 20% 0 20%;
    }

    .posts article .copy,
    .posts article:nth-of-type(2n) .copy {
        padding: 50px 0;
        width: 90%;
        float: none;
    }

    .posts article img,
    .posts article:nth-of-type(2n) img {
        width: 100%;
        float: none;
    }

    footer .footerMenu,
    footer .stayUpdated,
    footer .contact {
        float: none;
    }

    footer .footerMenu {
        width: 100%;
        text-align: center; 
        padding-bottom: 20px;
    }

    .footerMenu li {
        padding: 5px 10px;
        display: inline-block;
    }

    footer .stayUpdated {
        width: 100%;
        text-align: center;
        margin: 0 auto;
        padding-bottom: 20px;
    }

    footer .contact {
       max-width: 200px;
       padding-top: 0;
       margin: 0 auto;
    }
}

@media (max-width: 420px) {

    h1 {
        font-size: 2.7rem;
        line-height: 3.1rem;
    }

    .wrapper {
        width: 90%;
    }
    footer .stayUpdated input,
    footer .stayUpdated button {
        text-align: center;
        width: 100%;
        margin: 5px 0;
    }

    h3 {
        width: 90%;
    }
}
